<web-app>

    <display-name>ContactsBook</display-name>


<!--    <context-param>-->
<!--        <param-name>system</param-name>-->
<!--        <param-value>system-context</param-value>-->
<!--    </context-param>-->


   <!--   <context-param>
        <param-name>resteasy.guice.modules</param-name>
        <param-value>com.axelor.config.GuiceConfig</param-value>
    </context-param>-->


    <listener>
        <listener-class>
            com.axelor.config.ServletConfig
        </listener-class>
    </listener>
    <filter>
        <filter-name>Resteasy</filter-name>
        <filter-class>
            org.jboss.resteasy.plugins.server.servlet.FilterDispatcher
        </filter-class>      
	</filter>
	<filter-mapping>
	        <filter-name>Resteasy</filter-name>
	        <url-pattern>/*</url-pattern>
	</filter-mapping>

 <!--     <servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServlet30Dispatcher</servlet-class>

        <init-param>
            <param-name>system</param-name>
            <param-value>system-init</param-value>
        </init-param>

    </servlet>

    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping> -->
</web-app>

<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"-->
<!--         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee-->
<!--     http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">-->

<!--    -->

<!--    <context-param>-->
<!--        <param-name>resteasy.servlet.mapping.prefix</param-name>-->
<!--        <param-value>/rest</param-value>-->
<!--    </context-param>-->

<!--</web-app>-->